:root {
  font-family: "QB-one";
  --dkColor: #000;
  --lightColor: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "QB-one";
  src: url("./../../assets/fonts/qb-one/BoxTube Labs - QB One Bold Condensed.ttf");
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: blueviolet;
  font-family: var(--dkColor);
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--lightColor);
  font-size: 1rem;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  display: block;
  z-index: 1;
  background-color: white;
  border: 2px solid black;
}

input {
  background: transparent;
  color: var(--lightColor);
  border: 1px solid black;
  padding: 5px;
  outline: none;
  width: 80vw;
  max-width: 400px;
  margin-left: 10px;
  font-size: 1.5em;
  transition: padding 0.3s ease;
}

input:focus {
  padding: 10px;
  border-color: var(--lightColor);
}

input::placeholder {
  color: var(--lightColor);
}